<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>
<body>
	<canvas id="cavs1" width="220" height="400" style="border:1px solid #fff; margin-left: 100px;">您的浏览器不支持canvas标签~</canvas>
</body>
</html>